<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Using bootstrap</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script> src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"</script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"></script>
  </head>
<body>

<div class="container">
    <h2>Show data Table</h2>
    <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
      <th scope="col">Contact</th>
    </tr>
    </thead>
    {% if key %}
      <tbody>
        {% for i in key %}
        <tr>
          <td>{{i.id}}</td>
          <td>{{i.Firstname}}</td>
          <td>{{i.Lastname}}</td>
          <td>{{i.Email}}</td>
          <td>{{i.Contact}}</td>
        </tr>
        {% endfor %}
      </tbody>
    {% endif %}
    </table>
    
</div>
</body>
</html>

